.result-header::after {
    content: ' ▼';
    float: right;
}
.result-header.collapsed::after {
    content: ' ►';
}
.result-content,
.references-container {
    padding: 10px;
    display: block;
}
.collapsed+.result-content,
.collapsed+.references-container {
    display: none;
}

.reasoning {
    background-color: #f5f5f5;
    border-left: 3px solid #888;
    margin-bottom: 10px;
}

.reasoning-label {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
    font-weight: bold;
}

.reasoning-content {
    font-size: 0.9em;
    color: #555;
}

.chat-message.user {
    text-align: right;
    color: #2a2;
    margin: 5px 0;
}

.chat-message.llm {
    text-align: left;
    color: #222;
    background: #f0f0f0;
    border-radius: 6px;
    padding: 6px;
    margin: 5px 0;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 15px;
    height: 100%; /* 允许flex子元素缩小 */
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    word-wrap: break-word; /* 防止长文本溢出 */
}

.user-message {
    background-color: #488bb5;
    color: white;
    width: 95%;
    margin-left: auto;
    text-align: left;
}

.bot-message {
    background-color: #e9ecef;
    color: #333;
}

.bot-message code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', monospace;
}

.bot-message pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 10px 0;
}

.bot-message ul, .bot-message ol {
    margin: 10px 0;
    padding-left: 20px;
}

.bot-message blockquote {
    border-left: 4px solid #007bff;
    margin: 10px 0;
    padding-left: 15px;
    color: #666;
}




.tooltip-container-mol {
    white-space: nowrap; /* 禁止换行 */
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container-mol a {
    white-space: nowrap; /* 禁止换行 */
}

.tooltip-container-mol .tooltip-text {
    visibility: hidden;
    /* width: 200px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-container-mol .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-container-mol:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.tooltip-container-mol:hover {
    transform: scale(1.02);
}

